@import "./variable.scss";

@import './common.scss';


$article-bg: white;

.main {
    width: 960px;
    margin: auto auto;
    position: relative;
    z-index: 100;
}

.article-list {
    .article {
        background-color: $article-bg;
    }
}
