


$tag-bg: white;


@keyframes left-right {
    iteration-count: infinite;
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-45%, 0);
    }
}



.slide-tag {
    position: absolute;
    left: 10%;
    z-index: 1;
    margin-top: 2rem;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            
            
            a {
                animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
                background-color: $tag-bg;
                position: relative;
                display: block;
                height: 2rem;
                line-height: 2rem;
                padding: 0 0.3rem;
            }

            @for $i from 1 through 10{
                a:nth-of-type(#{$i}){
                    animation-delay: 300ms * $i;
                }
            }
        }
    }
}



