
$dash-bar-height: 320px;
$dash-bar-bg:#999;



$article-border-color: #000 !default;

$href-color: blue;


$section-ul-height: 22px;

/* org */
$section-number-bg: #999;


$img-circle-bg: rgba(88, 50, 60, 0.8);
