<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        
        <link rel="stylesheet" href="/static/css/index.css">
        
    </head>
    <body>
        
      <!-- <div class="dash-bar">  -->
      <!--     <img id="foyin-img" src="/static/img/foyin.png" style="display: none;"/> -->
      <!--       <img id="wing-img" src="/static/img/wing.png" style="display: none;"/> -->
      <!--       <img id="sprite-img" src="/static/img/sprite.png" style="display: none;"/> -->
      <!--       <canvas id="dash-canvas"></canvas> -->
      <!--       <div>  -->
      <!--           <img alt="" src="/static/img/dash-bg.jpg"/> -->
      <!--       </div> -->
      <!--   </div> -->

      <header>
        
        <div class="header-text">
          <img alt="" src="/static/img/dash-raw.png"/>
          <h1 class="title"><%= title %></h1>
        </div>
        
        <nav>
          <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/allarticle.html">所有文章</a></li>
            <li><input type="text"><span>搜索</span></li>
          </ul>
        </nav>
      </header>

      
      <img alt="" class="paper-clip" src="static/img/clip.png"/>
      <div class="main">

        <div class="main-wrapper">
          
          <!-- articles -->
          <div class="articles">
            <% articles.forEach(function(article, i){ %>
            <div class="article-wrapper" style="top: <%= i * 2.5 %>rem" data-top="<%= i  * 2.5 %>rem">
            <div class="article" >
              <!-- <h5 class="article--title"><a href='/<%- article.outputfilename %>'><%= article.title %></a></h5> -->
              <!-- <p class="article--create-date"><%- article.showTime %></p> -->
              <div class="article--content-part"><%- article.contentPart  %></div>
            </div>
            </div>
          <% }); %>     
          <div class="article-wrapper"  style="top: <%= articles.length * 2.5 %>rem" data-top="<%= articles.length  * 2.5 %>rem">
            <div class="article">
              <canvas id="article-canvas"></canvas>
            </div>
          </div>
            <!-- <ul class="paging"> -->
            <!--   <% for(var i = 0; i < pageN; i++) { %> -->
            <!--      <% var href = i === 0 ? '/' : '/page/' + i %> -->
            <!--      <% if(i === currentPageN) { %> -->
            <!--      <li class="paging--number active"><a href="<%= href %>"><%= i %></a></li> -->
            <!--      <% } else { %> -->
            <!--      <li class="paging--number%>"><a href="<%= href %>"><%= i %></a></li> -->
            <!--      <% } %> -->
            <!--      <% } %> -->
            <!-- </ul> -->
            
          </div>
          <!-- articles end-->

          <div class="slide">

            <div class="avator">
              <img alt="" src="/static/image/avator.png"/>
            </div>
            
            
          </div>
        
        </div>
      </div>
        

        
        <footer>

          
        </footer>
        

        
        <script src="/static/js/index.bundle.js"></script>
    </body>
</html>

