<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    
    <link rel="stylesheet" href="/static/css/index.css">
    
  </head>
  <body>
    
    <div class="dash-bar">
      <img id="foyin-img" src="/static/img/foyin.png" style="display: none;"/>
      <img id="wing-img" src="/static/img/wing.png" style="display: none;"/>
      <img id="sprite-img" src="/static/img/sprite.png" style="display: none;"/>
      <canvas id="dash-canvas"></canvas>
      <div>
        <img alt="" src="/static/img/dash-bg.jpg"/>
      </div>
    </div>

    <div class="main">
      <div class="article-list">
        <% articles.forEach(function(article){ %>
        <div class="article">
          <h5><a href='/<%- article.outputfilename %>'><%= article.title %></a></h5>
        </div>
        <% }); %>        
      </div>

    </div>
        
    
    
    <script src="/static/js/index.bundle.js"></script>
  </body>
</html>

