/* org */
/* org */
html {
  background-color: #3B3E43; }

body {
  background-image: url(/static/img/body-navy.jpg); }

::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: #0974ae; }

.dash-bar {
  height: 320px;
  /* background: { */
  /*     color: $dash-bar-bg; */
  /* } */
  width: 100%;
  position: relative;
  z-index: 1; }
  .dash-bar canvas {
    height: 620px;
    width: 100%;
    position: relative;
    z-index: 10; }
  .dash-bar div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .dash-bar div img {
      height: 100%;
      display: block;
      margin: 0 auto; }

html, body, div {
  padding: 0;
  margin: 0; }

.dash-bg {
  position: relative;
  height: 100%; }

/* org */
.footer {
  padding: 3rem 0 0;
  background-color: rgba(20, 25, 31, 0.9); }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer--icon img {
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 3px 20px #999;
    -webkit-transition: box-shadow 1200ms, -webkit-transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: box-shadow 1200ms, -webkit-transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 1200ms;
    transition: transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 1200ms, -webkit-transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .footer--icon img:hover {
      -webkit-transform: scale(1.1, 1.1) rotate(360deg);
              transform: scale(1.1, 1.1) rotate(360deg);
      box-shadow: 0px 0px 50px #fff; }
  .footer--txt {
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 110%;
    font-weight: 700; }
  .footer--links {
    overflow: hidden; }
    .footer--links ul {
      width: 300px;
      margin: 1rem auto;
      position: relative;
      padding: 0;
      display: -webkit-box;
      display: flex; }
      .footer--links ul li {
        padding: 0;
        margin: 0;
        display: inline-block;
        -webkit-box-flex: 1;
                flex: 1;
        text-align: center; }
      .footer--links ul svg {
        width: 30px;
        fill: white; }
  .footer--licence {
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-size: 90%;
    font-width: 300; }

@-webkit-keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

@keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

.slide-tag {
  position: absolute;
  left: 10%;
  z-index: 1;
  margin-top: 2rem; }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .slide-tag ul li a {
      -webkit-animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
              animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
      background-color: white;
      position: relative;
      display: block;
      height: 2rem;
      line-height: 2rem;
      padding: 0 0.3rem; }
    .slide-tag ul li a:nth-of-type(1) {
      -webkit-animation-delay: 300ms;
              animation-delay: 300ms; }
    .slide-tag ul li a:nth-of-type(2) {
      -webkit-animation-delay: 600ms;
              animation-delay: 600ms; }
    .slide-tag ul li a:nth-of-type(3) {
      -webkit-animation-delay: 900ms;
              animation-delay: 900ms; }
    .slide-tag ul li a:nth-of-type(4) {
      -webkit-animation-delay: 1200ms;
              animation-delay: 1200ms; }
    .slide-tag ul li a:nth-of-type(5) {
      -webkit-animation-delay: 1500ms;
              animation-delay: 1500ms; }
    .slide-tag ul li a:nth-of-type(6) {
      -webkit-animation-delay: 1800ms;
              animation-delay: 1800ms; }
    .slide-tag ul li a:nth-of-type(7) {
      -webkit-animation-delay: 2100ms;
              animation-delay: 2100ms; }
    .slide-tag ul li a:nth-of-type(8) {
      -webkit-animation-delay: 2400ms;
              animation-delay: 2400ms; }
    .slide-tag ul li a:nth-of-type(9) {
      -webkit-animation-delay: 2700ms;
              animation-delay: 2700ms; }
    .slide-tag ul li a:nth-of-type(10) {
      -webkit-animation-delay: 3000ms;
              animation-delay: 3000ms; }

html, body {
  height: 100%; }

@font-face {
  font-family: YueSong;
  src: url("/static/font/yuesong.TTF"); }

3
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0rem;
  background-color: black;
  z-index: 150; }

.footer {
  position: absolute;
  bottom: 0; }

header {
  overflow: hidden;
  position: relative; }
  header .title {
    color: white;
    font-family: YueSong, PMingLiU, Hiragino Sans GB;
    font-size: 3rem;
    letter-spacing: 10px; }
  header .header-text {
    position: relative;
    width: 1240px;
    margin: 0 -620px;
    left: 50%;
    height: 100%; }
    header .header-text img {
      height: 100%;
      position: absolute;
      height: 200%;
      top: 0;
      left: 0;
      z-index: -1; }

#article-canvas {
  height: 100%;
  width: 100%; }

nav {
  position: absolute;
  width: 1240px;
  margin: 0 -620px;
  left: 50%;
  bottom: 0;
  height: 2rem; }
  nav ul {
    margin: 0;
    padding: 0;
    float: right; }
  nav li {
    display: inline-block;
    float: left;
    color: white;
    margin-left: 1rem; }
    nav li a {
      color: white; }

.main {
  position: absolute;
  padding: 1rem 3rem 1rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100; }

.paper-clip {
  position: absolute;
  width: 100px;
  top: -2rem;
  left: 30%;
  margin-left: -50px;
  z-index: 1260; }

.main-wrapper {
  height: 100%;
  z-index: 20;
  position: relative;
  top: 0;
  margin: auto;
  width: 80%;
  border-radius: 0.1rem;
  box-sizing: border-box;
  background-color: #8e3c32;
  border: 1rem solid #662a24; }

.article-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 700ms;
  transition: all 700ms;
  padding: 0 1rem; }
  .article-wrapper.c {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  .article-wrapper.blur {
    -webkit-filter: blur(3px);
            filter: blur(3px); }
    .article-wrapper.blur .article {
      box-shadow: none; }
  .article-wrapper.active {
    z-index: 150; }
    .article-wrapper.active .article {
      box-shadow: 0 0 20px black; }
      .article-wrapper.active .article:before, .article-wrapper.active .article:after {
        display: none; }
  .article-wrapper.cover {
    height: 90%; }
    .article-wrapper.cover .article {
      background-image: url(/static/img/fish.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }

.articles {
  width: 65%;
  display: inline-block;
  position: relative;
  z-index: 100;
  height: 100%;
  border-radius: 1rem;
  float: left;
  box-sizing: border-box;
  box-shadow: 0 0 20px #8e3c32 inset;
  overflow: hidden; }
  .articles:before, .articles:after {
    content: " ";
    display: table; }
  .articles:after {
    clear: both; }
  .articles .article {
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    width: 97%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 0 10px #646464;
    -webkit-transition: all;
    transition: all;
    min-height: 80%; }
    .articles .article:before, .articles .article:after {
      position: absolute;
      content: '';
      display: block;
      opacity: 0.4;
      -webkit-filter: blur(1px);
              filter: blur(1px);
      box-sizing: border-box;
      height: 100%;
      width: 1rem;
      background-color: #8e3c32; }
    .articles .article:before {
      top: 0rem;
      left: -1.05rem; }
    .articles .article:after {
      top: 0rem;
      right: -1.05rem; }
    .articles .article h1 {
      margin: 0;
      font-size: 1.5rem; }
  .articles img {
    max-width: 95%;
    margin: 0.5rem auto;
    display: block; }
  .articles ul {
    display: none; }

.slide {
  display: inline-block;
  float: left;
  width: 35%; }
  .slide .avator {
    margin-top: 1.5rem;
    box-sizing: border-box; }
    .slide .avator:hover img {
      -webkit-transform: scale(0.8, 0.8);
              transform: scale(0.8, 0.8); }
    .slide .avator img {
      width: 80%;
      display: block;
      margin: 0 auto;
      -webkit-transition: -webkit-transform 300ms ease-in;
      transition: -webkit-transform 300ms ease-in;
      transition: transform 300ms ease-in;
      transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .slide ul {
    margin: 1rem 0;
    padding: 0; }
    .slide ul:before, .slide ul:after {
      content: " ";
      display: table; }
    .slide ul:after {
      clear: both; }
  .slide li {
    margin: 5px 10px;
    display: block;
    float: left; }
    .slide li a {
      display: inline-block;
      background-color: white;
      height: 1.4rem;
      line-height: 1.4rem;
      position: relative;
      padding-left: 0.4rem; }
      .slide li a:after {
        position: absolute;
        left: 100%;
        top: 0;
        content: '';
        width: 0;
        height: 0;
        display: block;
        border-style: solid;
        border-width: 0.73684rem 0 0.73684rem 0.73684rem;
        border-color: transparent transparent transparent white; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  height: 2rem;
  width: 100%;
  z-index: 100;
  box-sizing: border-box; }

.article-list {
  box-sizing: border-box; }

.paging {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 5px auto 15px;
  text-align: center; }
  .paging:before, .paging:after {
    content: " ";
    display: table; }
  .paging:after {
    clear: both; }
  .paging--number {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    box-shadow: 0px 0px 10px white;
    background-color: white; }
    .paging--number.active {
      background-color: #ee5b33;
      box-shadow: 0px 0px 10px #ee5b33; }
