@-webkit-keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

@keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

.slide-tag {
  position: absolute;
  left: 10%;
  z-index: 1;
  margin-top: 2rem; }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .slide-tag ul li a {
      -webkit-animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
              animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
      background-color: white;
      position: relative;
      display: block;
      height: 2rem;
      line-height: 2rem;
      padding: 0 0.3rem; }
    .slide-tag ul li a:nth-of-type(1) {
      -webkit-animation-delay: 300ms;
              animation-delay: 300ms; }
    .slide-tag ul li a:nth-of-type(2) {
      -webkit-animation-delay: 600ms;
              animation-delay: 600ms; }
    .slide-tag ul li a:nth-of-type(3) {
      -webkit-animation-delay: 900ms;
              animation-delay: 900ms; }
    .slide-tag ul li a:nth-of-type(4) {
      -webkit-animation-delay: 1200ms;
              animation-delay: 1200ms; }
    .slide-tag ul li a:nth-of-type(5) {
      -webkit-animation-delay: 1500ms;
              animation-delay: 1500ms; }
    .slide-tag ul li a:nth-of-type(6) {
      -webkit-animation-delay: 1800ms;
              animation-delay: 1800ms; }
    .slide-tag ul li a:nth-of-type(7) {
      -webkit-animation-delay: 2100ms;
              animation-delay: 2100ms; }
    .slide-tag ul li a:nth-of-type(8) {
      -webkit-animation-delay: 2400ms;
              animation-delay: 2400ms; }
    .slide-tag ul li a:nth-of-type(9) {
      -webkit-animation-delay: 2700ms;
              animation-delay: 2700ms; }
    .slide-tag ul li a:nth-of-type(10) {
      -webkit-animation-delay: 3000ms;
              animation-delay: 3000ms; }
